.advantages-section {
    position: relative;
}

.advantages {
    position: relative;

    &__slider {
        position: relative;

        & .swiper-wrapper {
            padding-bottom: 50px;
        }
    }

    &__top-block {
        text-align: center;
        color: $white;
    }

    &__text {
        font-family: $ff_MPr;
        font-size: 1.4rem;
        color: $magenta;
        letter-spacing: 6px;
        margin-bottom: 15px;
    }

    &__title {
        font-family: $ff_PDr;
        font-size: 70px;
        margin-bottom: 45px;
    }

    &__list {
        @include fdrjc_aic;
    }

    &__list-item {
        position: relative;
        font-family: $ff_PDb;
        text-transform: uppercase;
        margin: 0 15px;
        letter-spacing: 6px;

        &:not(:first-child):before {
            content: "/";
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
        }
    }

    &__actions {
        @include fdrjc_aic;
        @include pinkBtn;
        margin-top: 65px;
    }

    &__bottom-block {
        @include fdrjc_aic;
        margin-top: 125px;
    }

    &__slider-slide {
        width: 100%;
        max-width: 511px;
        min-height: 378px;
        padding: 30px 30px 55px 50px;
    }
}

.slide {
    @include fdcjs_ais;
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s linear;

    &:hover {
        cursor: pointer;
        background: $magenta_grt;
        transition: background 0.3s linear;
    }

    &__title {
        font-family: $ff_MPb;
        font-size: 2rem;
        color: $white;
        margin: 35px 0;
    }

    &__text {
        font-family: $ff_MPr;
        font-size: 1.4rem;
        color: $white;
    }
}